DATABASE_URL="postgres://postgres.xxxxxx:password@aws-0-REGION.pooler.supabase.com:5432/postgres?pgbouncer=true"
DIRECT_URL="postgres://postgres.xxxxxx:password@aws-0-REGION.pooler.supabase.com:5432/postgres"

SUPABASE_URL="https://xxxxxx.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJI..."

OPENAI_API_KEY="sk-..."
GEMINI_API_KEY="AIza..."
GOOGLE_MAPS_API_KEY="AIza..."
